html{
    width: 425px;
}
.container{
    max-width: 100%;
    margin: auto;
    padding: 16px;
    border: 1px solid black;
}

.add-tab{
    padding:8px;
    border: 1px dotted black;
    cursor: pointer;
}
.category-inner-wrapper{
    display: flex;
}
.category-wrapper{
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 8px;
}
.button{
    margin-top: 8px;
}
.time-url{
    margin-top: 8px;
}
.custom-selector{   
    margin-left: 16px;
}
#startTime{
    margin-right: 16px;
}
#submitBtn{
    width: 100%;
    padding: 8px;
    display: none;
    cursor: pointer;
}
input[type="url"]{
    width: 185px;
}